# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uilds/
/[Ll]ogs/

# Visual Studio
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.booproj

# OS-specific
.DS_Store
Thumbs.db

# Rider
.idea/

# Other
*.bak
